﻿@model AvivaFizzBuzz.Web.Models.FizzBuzzViewModel
@using AvivaFizzBuzz.Web.HTMLHelpers

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

@{
    ViewBag.Title = "Fizz Buzz Demo";
}

@using (Html.BeginForm("List", "Home"))
{
    <div class="row">
        <div class="col-sm-4">
            <label for="totalCount">Input the number of Fizz Buzz entries to retrieve:</label>
        </div>
        <div class="col-sm-3">
            <input type="text" name="totalCount" id="totalCount" class="form-control" />
        </div>
        <div class="col-sm-3">
            <input type="submit" value="Go" class="btn btn-primary" />
        </div>
    </div>
    
    <div class="container">
        @if (Model != null && Model.FizzBuzzEntriesExist)
        {
            <h3>Fizz Buzz Values</h3>

            foreach (var fizzBuzzEntry in Model.FizzBuzzEntries)
            {
                <div class="row">
                    <div id="divResult" class="col-sm-2">
                        @if (@fizzBuzzEntry.Description.ToString() == ("Fizz"))
                        {
                            <span style="color: blue">
                                @fizzBuzzEntry.ToString()
                            </span>
                        }
                        else if (@fizzBuzzEntry.Description.ToString() == ("Buzz"))
                        {
                            <span style="color: green">
                                @fizzBuzzEntry.ToString()
                            </span>
                        }
                        else
                        {
                            @fizzBuzzEntry.ToString()
                        }
                    </div>
                </div>
            }

            <div class="pager">
                @{Html.RenderPartial("_Pager", Model);
                }
            </div>
        }
        else
        {
            <span style="color:red">@Html.ValidationSummary()</span>
        }
    </div>
}

@*<script>
        $('form').submit(function () {
            debugger;
            var FizzBuzzEntries;

            if('@Html.Raw(Json.Encode(Model))' != 'null')
            {
                FizzBuzzEntries = '@Html.Raw(Json.Encode(Model.FizzBuzzEntries))';
                //alert("hi");
            }

            $('@Html.Raw(Json.Encode(Model.FizzBuzzEntries))').each(function (index, item) {
                debugger;
                var txtItem = item.description();
                if (txtItem.contains('Fizz'))
                    item.css('font-color', 'blue');
                else if (txtItem.contains('Buzz'))
                    item.css('font-color', 'green');
            })
        })
    </script>*@
